/* You can add global styles to this file, and also import other style files */
button{
    width: 242px;
    text-align: center;
    color: #fff;
    background-color: #292929;
    padding: 8px 10px;
    border: 0px;
    outline: none;
    text-transform: uppercase;
    cursor:pointer;
}
