<section>
  <div class="container-cst">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
             <figure class="scan-pay">
              <img src="../assets/img/QrCode.jpeg" alt="scan and pay"/>
             </figure> 
          </div>
          <div class="card-footer pay-btn">
            <button class="btn btn-sm btn-success">Pay Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



